modules = ["web", "nodejs-22"]
run = "pnpm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = "pnpm start"
build = "pnpm build"

[[ports]]
localPort = 9000
externalPort = 80

[[ports]]
localPort = 37581
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 40693
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 45999
externalPort = 3002
exposeLocalhost = true

