modules = ["web", "nodejs-22"]
run = "pnpm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = "pnpm start"
build = "pnpm build"

[[ports]]
localPort = 9000
externalPort = 80

[[ports]]
localPort = 33425
externalPort = 8081
exposeLocalhost = true

[[ports]]
localPort = 35543
externalPort = 6800
exposeLocalhost = true

[[ports]]
localPort = 35733
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 37907
externalPort = 6000

[[ports]]
localPort = 39711
externalPort = 3003
exposeLocalhost = true

[[ports]]
localPort = 40783
externalPort = 8000
exposeLocalhost = true

[[ports]]
localPort = 41109
externalPort = 8099
exposeLocalhost = true

[[ports]]
localPort = 41267
externalPort = 5000
exposeLocalhost = true

[[ports]]
localPort = 42291
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 42615
externalPort = 8008
exposeLocalhost = true

[[ports]]
localPort = 43685
externalPort = 3002
exposeLocalhost = true

[[ports]]
localPort = 45671
externalPort = 4200
exposeLocalhost = true

[[ports]]
localPort = 46113
externalPort = 3000
exposeLocalhost = true
